h1 {
  color: aqua;
}
h2 {
  color: wheat;
}
body {
  background-color: black;
  width: 100%;
}

footer {
  color: white;
}

.image {
  margin: 50%;
  border-radius: 50px;
  width: 90px;
  height: 90px;
}
