h1 {
  color: aqua;
}
h2 {
  color: wheat;
  margin: auto;
}
body {
  background-color: rgba(0, 0, 0, 0.397);
  width: 100%;
  height: auto;
}

footer {
  color: white;
}

.image {
  margin: 50%;
  border-radius: 50px;
  width: 90px;
  height: 90px;
}
